.pwzrt_admin__scope-old .fieldset-wrapper .fieldset {
	background: transparent;
	padding: 9px 0 0 0;
	border: none;
	border-radius: 0;
	margin: 0 0 29px;
}

.pwzrt_admin__scope-old .fieldset-wrapper .fieldset:last-child {
	margin-bottom: 0;
}

.pwzrt_admin__scope-old .fieldset .fieldset-wrapper {
	border: 1px solid #cac3b4;
	border-radius: 2px;
	margin-bottom: 5px;
	padding: 0 0 8px 0;
}

.pwzrt_admin__scope-old .fieldset .fieldset-wrapper .fieldset-wrapper-title {
	background: #2196F3;
	padding: 0 0 0 18px;
	border: 0;
}

.pwzrt_admin__scope-old .fieldset-wrapper-title::after {
	content: "";
	display: table;
  clear: both;	
}

.pwzrt_admin__scope-old .fieldset-wrapper-title > .actions {
	float: right;
  padding: 3px 3px 0 0;	
  width: 40px;
  text-align: right;  
}

.pwzrt_admin__scope-old .fieldset-wrapper-title > .actions .action-delete {
  border: none;
  border-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  filter: none;
}

.pwzrt_admin__scope-old .fieldset-wrapper-title > .actions .action-delete::before {
  font: 400 20px/1 dashicons;
  -webkit-font-smoothing: antialiased;
  content: '\f182';
  color: #ffffff;
  text-shadow: none;   
}

.pwzrt_admin__scope-old .fieldset-wrapper-title > .actions .action-delete span {
  display: none;
  text-shadow: none;    
}

.pwzrt_admin__scope-old .fieldset .fieldset-wrapper .fieldset-wrapper-content {
  padding: 0 10px;
}

.pwzrt_admin__scope-old .fieldset-alt {
	position: relative;
	display: table-row;
	border: 0;
	padding: 0;
	margin-bottom: 0;
	width: 100%;
}

.pwzrt_admin__scope-old .fieldset-alt > .field {
	display: table-cell;
	vertical-align: top;
	padding-right: 20px;
	position: relative;
	box-sizing: border-box;
	margin: 0 0 12px 0;	
}

.pwzrt_admin__scope-old .fieldset-alt > .field > .label {
	display: block;
	width: 100%;
	clear: both;
	text-align: left;
	margin: 0 0 10px;
	color: #303030;
	font-size: 14px;
	font-weight: 600;	
}

.pwzrt_admin__scope-old .data-table {
	width: 100%;
  border-collapse: collapse;	
}

.pwzrt_admin__scope-old .data-table thead th {
	background: #fff;
  color: #303030;
  font-size: 14px;
  font-weight: 600;
	text-align: left;
	padding: 0 0 0 7px;  	
}

.pwzrt_admin__scope-old .data-table td {
	background: #fff;
	border-width: 0;
	padding: 2px 3px;
	vertical-align: middle;
}

.pwzrt_admin__scope-old .data-table tbody tr:nth-child(2n+1) td {
	background: #fbfaf6;
}

.pwzrt_admin__scope-old .data-table tbody td input[type="text"] {
	width: 99%;
	padding-left: 1%;
	padding-right: 1%;
}
.fieldset-wrapper-enabled {
    font-weight: bold;
    color: white;
    float: left;
    padding: 3px 3px 0 0;
    width: 82px;
    text-align: right;
}